<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style>
html {
  scroll-behavior: smooth;
  /*background: linear-gradient(-90deg, #006D77, #83C5BE);*/
  /*background: linear-gradient(90deg, #B8DEDC, #83C5BE);*/
  background: linear-gradient(90deg, #EDF6F9, #FFDDD2);
}
/*header{*/
/*    ;*/
/*}*/
.reacts, .prods{
    margin: 5px;
}
form{
    background: #E0F0F2;
}
#reactivos, #productos{
    border-color: #E29578 !important;
}
#holder{
    background: #FFDDD2;
}
#nuevo_reactivo, #nuevo_producto{
    background: #005A62 !important;
}
#tutorial{
    margin: 20% 0px 0px 50%;
    background: #E39478;
    opacity: 0.8;
}
#tutorial-header{
    background: #B8DEDC;
    color: #006D77;
}
#tutorial-content > p{
    color: #616161;
}

@media only screen and (max-width: 700px){
    #holder{
        border-style: solid;
        border-color: Tomato;
    }
    #reglas-btn{

    }
}

#prods_e1, #reacts_e1, #result_e1{
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    padding: 1% 0.5%;
}
.plus_e1{
    padding: 1%;
}
/*#reglas{*/
/*    width: 45%;*/
/*}*/
#reglas-btn{
    margin: 1% 5%;
    padding: .5%;
    background: linear-gradient(180deg, #EDF6F9, #FFDDD2);
}
#ejemplos{
    margin: 5% 0%;
}
#result_e1{
    width: 50%;
}
</style>

    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Balancear!_archivos/w3.css">
        <link rel="import" href="https://www.pythonanywhere.com/static/data/data.html">
        <script src="Balancear!_archivos/jquery.js"></script>
        <script type="text/javascript" src="Balancear!_archivos/funcs.htm"></script>
        <!--<script type="text/javascript" src="/static/data/data.js"></script>-->
        <!--<script type="text/javascript" src="/static/js/funcs_autocomplete.js"></script>-->
        <!--<script src="{{ url_for('static', filename='js/funcs.js') }}"></script>-->
        <title>Balancear!</title>
        <link rel="icon" type="image/x-icon" href="https://www.pythonanywhere.com/user/Rogger/files/home/Rogger/mysite/templates/static/images/favicon.ico">
    </head>
    <body>
        <header class="w3-container w3-row" style="color:#004B51">
            <div class="w3-col m10 l4 s10">
                <h1 class="w3-title">Balanceador</h1>
                <p class="w3-large">por <i class="w3-serif">A. Roggero</i></p>
            </div>
            <div class="w3-col l2 m2 s2">
                <button id="tutorial" class="w3-btn w3-round-xlarge" onclick="document.getElementById('modal-tutorial').style.display='block'">?</button>

                <div id="modal-tutorial" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                        <header class="w3-container" id="tutorial-header">
                        <span onclick="document.getElementById('modal-tutorial').style.display='none'" class="w3-button w3-display-topright">×</span>
                            <h2>Tutorial</h2>
                        </header>

                        <div class="w3-container w3-display-container" id="tutorial-content">
                            <div class="w3-left w3-container">
                                <p>Este es un balanceador de ecuaciones químicas!</p>
                                <p>Puede procesar reacciones completas y hemirreacciones, agregando e- según corresponda</p>
                            </div>

                                <div id="reglas-btn" class="w3-button w3-topright w3-border" onclick="document.getElementById('modal-reglas').style.display='block'">
                                    <b>Reglas de escritura</b>
                                </div>
                                <div id="modal-reglas" class="w3-modal">
                                    <div id="reglas" class="w3-modal-content w3-card w3-animate-zoom">
                                        <span onclick="document.getElementById('modal-reglas').style.display='none'" class="w3-button w3-display-topright">×</span>
                                        <!--<header class="w3-container">-->
                                        <!--    Reglas:-->
                                        <!--</header>-->
                                        <!--<hr style="height:2px; background-color: black">-->
                                        <div>
                                            <ul class="w3-ul w3-border">
                                              <li><h2>Reglas</h2></li>
                                              <li>Cada contenedor puede tener más de un elemento, si están separados por " + "</li>
                                              <li><p>Las cargas pueden escribirse sin paréntesis mientras no generen ambigüedad.</p>
                                                <p>Por ejemplo: Ca+2, Ca(2+) y Ca(+2) son válidas, mientras que Ca2+ no.</p></li>
                                              <li>Todos los elementos deben escribirse con mayúscula y minúscula de forma correcta
                                              o no serán interpretados adecuadamente.</li>
                                              <li>Todo los números deben escribirse en línea y no como subíndices o superíndices.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            <div id="ejemplos" class="w3-panel w3-pale-red">
                                <h4>Ejemplos:</h4>
                                 <hr style="height:2px;background-color:crimson">
                                <div id="ejemplo_1" class="w3-display-container">
                                    <p>poner ejemplos lol</p>
                                    <!--<div class="w3-float-left">-->
                                    <!--    <span id="reacts_e1">-->
                                    <!--        MnO4- + I- + H+-->
                                    <!--    </span>-->
                                    <!--    <span class="plus_e1">+</span>-->
                                    <!--    <span id="prods_e1">-->
                                    <!--        Mn(+2) + I2 + H2O-->
                                    <!--    </span>-->
                                    <!--</div>-->
                                    <!--<span class="plus_e1 w3-display-topmiddle">→</span>-->
                                    <!--<div id="result_e1" class="w3-right">-->
                                    <!--    <span>2 MnO₄⁻ + 10 I⁻ + 16 H⁺ → 2 Mn⁺² + 5 I₂ + 8 H₂O</span>-->
                                    <!--</div>-->
                                    <!--<img src="static/images/reacts_e1.jpg" style="width:30%">-->
                                    <!--<img src="static/images/prods_e1.jpg" style="width:30%">-->
                                </div>
                                <!--<p>ejemplo2</p>-->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </header>
        <form method="post" autocomplete="on" class="w3-half w3-border w3-card">
            <datalist id="molecules_list"></datalist>
            <div class="w3-container w3-margin">
                <div class="w3-row w3-header">
                    <label for="reacts">Reactivos:</label>
                    <button id="nuevo_reactivo" type="button" class="w3-btn w3-blue">Nuevo Reactivo</button>
                </div>
                <div id="reactivos" class="w3-row-padding w3-leftbar w3-border-red">
                    <div class="w3-half">
                        <input list="molecules_list" id="react0" value="MnO4- + I- + H+" class="reacts w3-input w3-border">
                        <!--<datalist id="molecules_list"></datalist>-->
                    </div>
                </div>
            </div>
            <div class="w3-container w3-margin">
                <div class="w3-row w3-header">
                    <label for="prods">Productos:</label>
                    <button id="nuevo_producto" type="button" class="w3-btn w3-blue">Nuevo Producto</button>
                </div>
                <div id="productos" class="w3-row-padding w3-leftbar w3-border-red">
                    <div class="w3-half">
                        <input list="molecules_list" id="prod0" value="Mn(+2) + I2 + H2O" class="prods w3-input w3-border ">
                    </div>
                </div>
            </div>
            <div class="w3-container w3-margin">
                <input type="submit" value="Hacer Magia" class="w3-btn w3-teal">
                <input id="limpiar" type="button" value="Limpiar" class="w3-btn w3-teal">
            </div>
        </form>
        <div class="w3-container w3-half" id="holder-container">
            <ul id="holder" class="w3-ul w3-container" style="display:none">
                <li id="RB"><h2>Reacciones:</h2></li>
                <li id="MM"><h2>Masas molares:</h2></li>
            </ul>
        </div>
    
</body></html>
